<form class="auth-form" action="/" method="post">
    <label class="auth-label" for="username">Логин:</label>
    <input class="auth-input-text" type="text" name="username" /><br><br>
    <label class="auth-label">Пароль:</label>
    <input class="auth-input-text" type="password" name="password" /><br><br>
    <input class="auth-submit" type="submit" value="Войти" /><br>
</form>
